<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="blackbird_selective_cron_command" xsi:type="object">Blackbird\SelectiveCron\Console\Command\SelectiveCronCommand</item>
                <item name="blackbird_selective_cron_install_command" xsi:type="object">Blackbird\SelectiveCron\Console\Command\InstallSelectiveCronCommand</item>
                <item name="blackbird_selective_cron_remove_command" xsi:type="object">Blackbird\SelectiveCron\Console\Command\RemoveSelectiveCronCommand</item>
            </argument>
        </arguments>
    </type>
</config>