<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_system">
        <observer name="blackbird_selective_cron_config_change" instance="Blackbird\SelectiveCron\Observer\ConfigChangeObserver" />
    </event>
</config>