<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="selective_cron" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Selective Cron</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Selective Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>system/selective_cron/enabled</config_path>
                </field>
                <field id="selected_jobs" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Cron Jobs to Execute</label>
                    <source_model>Blackbird\SelectiveCron\Model\Config\Source\CronJobs</source_model>
                    <config_path>system/selective_cron/selected_jobs</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>